{
    "presets": [
        "@babel/preset-env"
    ],
    "env": {
        "test": {
            "plugins": [
                "istanbul"
            ]
        }
    },
    "plugins": [
        ["@babel/plugin-transform-runtime", {
            "regenerator": true
        }]
    ]
    
}