{
    "extends": "@istanbuljs/nyc-config-babel",
    "sourceMap": false,
    "instrument": false,
    "require": [
        "@babel/register"
    ],
    "exclude": [
        "build/**",
        "tests/**"
    ]
}